<footer class="app-footer">
    <!-- Línea roja superior -->
    <div class="app-footer__top-line"></div>

    <!-- Sección principal del footer -->
    <div class="app-footer__content">
        <!-- Parte superior: enlaces legales centrados -->
        <div class="app-footer__legal">
            <a href="#">Aviso legal</a>
            <a href="#">Política de privacidad</a>
            <a href="#">Política de cookies</a>
            <a href="#">Accesibilidad</a>

        </div>

        <!-- Sección de redes sociales -->
        <div class="app-footer__social">
            <a href="https://www.linkedin.com/company/madrile%C3%B1a-de-mantenimiento" target="_blank"
                rel="noopener noreferrer">
                <i class="pi pi-linkedin" style="font-size: 1.5rem"></i>
            </a>
        </div>
    </div>

    <div class="app-footer__bottom">
        <!-- Contenedor de imágenes centradas -->
        <div class="app-footer__bottom-logos">
            <img src="Gobierno.jpg" alt="Logo 1" />
            <img src="planrec.png" alt="Logo 2" />
            <img src="fineu.jpg" alt="Logo 3" />
        </div>

        <!-- Texto de copyright debajo -->
        <div class="app-footer__bottom-center">
            <p>Copyright © 2025 MADRILEÑA DE MANTENIMIENTO CAR, S.L.</p>
        </div>
    </div>

</footer>